.contactcontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5vh;
    padding: 5rem;
}

.contactbtn {
    border: 1px solid black;
    border-radius: 1em;
    font-size: 2rem;
    text-align: center;
}

.linkedinbtn {
    border: 1px solid black;
    border-radius: 1em;
    font-size: 2rem;
    text-align: center;
}

.gitbtn {
    border: 1px solid black;
    border-radius: 1em;
    font-size: 2rem;
    text-align: center;
}

.resumebtn {
    border: 1px solid black;
    border-radius: 1em;
    font-size: 2rem;
    text-align: center;
}


