.navbar {
    position: fixed;
    top: 0;
    padding: 5vh 5vh 5vh 20vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2em;
    width:100%;
    opacity: 0.9;
    z-index: 100;
}
.navbtn {
    font-size: 1.5rem;
    height: 2rem;
}

.navbtn:hover {
    cursor: pointer;
    opacity: 0.5;
    border-bottom: 2px solid black;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
    .navbar {
        padding: 5vh;
        flex-direction: row;
        justify-content: space-around;
    }
}

/* Mobile */
@media (max-width: 700px) {
    .navbar {
        padding: 5vh;
        font-size: 0.7rem;
        flex-direction: row;
        justify-content: space-around;
    }
}
