@import "../node_modules/rfs/scss";
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  color: #5a5a5a;
}

.carousel-title {
  font-size: 1em;
  line-height: 0.9;
}

.carousel-text {
  font-size: 0.7vw;
  line-height: 0.9;
}

/* Featurettes
------------------------- */
.parallax {
    background-image:url("background.jpg");
    background-attachment: fixed;
    background-position:bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    opacity: 0.9;
    padding-bottom: 1.5rem;
}

.featurette {
  width: 96%;
}

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
  border-top: 2px solid gainsboro !important;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.col-md img:hover{
    opacity: 0.8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-transition:opacity 0.5s ease-in;
    -o-transition:opacity 0.5s ease-in;
    -moz-transition:opacity 0.5s ease-in;
    transition:opacity 0.5s ease-in;
}

.project-title{
  text-align: center;
  padding-top: 15vh;
  padding-bottom: 5vh;
}

.project-tile .card {
  z-index: -1 !important;
}

/*EDITING FOOTER FOR VISUAL APPEARANCES*/
footer{
  padding-top: 2rem;
  background-color:rgba(245, 245, 245, 0.767);
  width: 100%;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 576px) {
  .carousel-title {
    font-size: 4rem;
    line-height: 1;
  }

  .carousel-text {
    font-size: 0.5vw;
    line-height: 1;
  }
}
@media (min-width: 768px) {
  /* Bump up size of carousel content */
  .carousel-title {
    font-size: 2vw;
    line-height: 1;
  }
    
  .carousel-text {
    font-size: 1vw;
    line-height: 1;
  }

}

@media (min-width: 992px) {
  .featurette-heading {
    font-size: 50px;
  } 

  .featurette p {
    font-size: 30px;
  }
}


